/**
Landing-Page
**/




/**
Gallery
**/

.gallery {
    background: $tan;
    min-height: 600px;
    min-height: 100vh;
    background-size: cover;
    position:relative;

    h1{
        color: $black;
    }

    > div {
        color: white;
        min-width: 75%;
        text-align: center;

        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 2.5em;
        }

        a.btn {
            background-color: transparent;
            border: $black 2px solid;
            color: $black;
            transition: border .2s;

            &:hover{
                border: $black 4px solid;
            }
        }

    }
}

/**
UTILITY CLASSES
**/
.absolute-center {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.centered {
    text-align: center;
}

/**
CATEGORIES
**/
.categories {
    padding-top: 4em;
    padding-bottom: 4em;
    .row {
        > * {
            text-align: center;
            padding-top: 100px;
            background-size: auto 100px;
            background-position: top center;
            background-repeat: no-repeat;

            &:nth-child(1){
                background-image: url(../images/by-style/art-deco.svg)
            }
            &:nth-child(2){
                background-image: url(../images/by-style/mid-century.svg)
            }
            &:nth-child(3){
                background-image: url(../images/by-style/contemporary.svg)
            }
            &:nth-child(4){
                background-image: url(../images/by-style/scandinavia.svg)
            }
        }


    }
}


/**
 * SELECTION BY FURNITURW CATEGORY
 */

section.selection-by-cat {
    background: $dark-brown;
    padding-bottom: 0;
    text-align: center;
    color:$white;
    text-shadow: 1px 1px 1px #000;
    .cat-link  {
        color: $white;
        a &:visited{color: $white;}
    }
        
    .our-style {
        padding: 3%;
        &:hover{background:$sand; }
        img {
            color: $white;
        }

    }
}





/** CONSIGNMENT **/

.consignment {
    background-color: $beige;
    padding-top: 4em;
    padding-bottom: 4em;
    
    h2{
        margin-bottom: 24px;
    }

    h2, & > div {
        text-align: center;
        color: $dark-brown;
    }

  
    a.consignment-form-btn {
            background-color: transparent;
            border: $black 2px solid;
            color: $black;
            transition: border .2s;

            &:hover{
                border: $black 4px solid;
            }
        }
}

/** FOOTER **/


