/**
Gallery
**/

.gallery {
    background-image: url(../images/couch-leather2.jpg);
    min-height: 500px;
    min-height: 100vh;
    background-size: cover;
    position:relative;

    > div {
        color: white;
        min-width: 75%;
        text-align: center;

        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 2.5em;
        }

        a.btn {
            background-color: transparent;
            border-color: white;
            color:white;
        }
    }
}

/**
UTILITY CLASSES
**/
.absolute-center {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.centered {
    text-align: center;
}

/**
CATEGORIES
**/
.categories {
    padding-top: 4em;
    padding-bottom: 4em;
    .row {
        > * {
            text-align: center;
            padding-top: 100px;
            background-size: auto 100px;
            background-position: top center;
            background-repeat: no-repeat;

            &:nth-child(1){
                background-image: url(../images/art-deco.svg)
            }
            &:nth-child(2){
                background-image: url(../images/midcentury.svg)
            }
            &:nth-child(3){
                background-image: url(../images/contemporary.svg)
            }
        }
    }
}


/**
 * This is section
 */

section.selection {
    padding-bottom: 0;
    text-align: center;
    .our-style {
        padding: 3%;
    }
}

section.by-category{
    background: darkslateblue;
    color: white;
}




/** CONSIGNMENT **/

.consignment {
    background-color: #efefef;
    padding-top: 4em;
    padding-bottom: 4em;

    h2, & > div {
        text-align: center;
    }

    form {
        max-height: 0px;
        overflow: hidden;
        transition: max-height .25s ease;

        max-width: 60ch;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.5em;

        &.active {
            max-height: 10000px;
        }
    }
}

/** FOOTER **/


footer {
    padding: 0;
    .social-lnk {
        text-align: center;
        color: $sand;
    }
    .address-div {
        background: $sand;
        color: $white;
        text-shadow: 1px 1px 1px #000;
        border-left: 1px solid $tan;
        .location {
            font-size: 18px
        }
    }
}