<main class="finalize-order container-fluid">
<%;(function(){
    var cart = JSON.parse(JSON.stringify(data))
    var cartTotal = _.pluck(cart , 'price').sum()
    var cartTax   = [cartTotal * .0825].sum()
    var mrList = _.pluck(cart , 'MR_id').join(',')
%>
    <div class="row grid grid-3-50">

        <div class="stepsLabel l1 shipping-info inactive">
            <span class='block-number'>1</span>
            <h3>Shipping Information</h3>
            <p class="med-card"><i class="fa fa-home"></i></p>

        </div>
        <div class="stepsLabel l2">
            <span class='block-number'>2</span>
            <h3>Order Summary</h3>
            <p class="med-card"><i class="fa fa-thumbs-o-up"></i></p>
            <br>
            
        </div>
        <div class="stepsLabel l3">
            <span class='block-number'>3</span>
            <h3>Billing</h3>
            <p class="med-card"><i class="fa fa-credit-card"></i></p>
        </div>



    </div>

        <div class="cartSteps">
            <form class="cartStep Step1 currentStep billing">
                <div class="form-group">
                    <label for="fName">First Name</label>
                    <input name="fName" type="text" class="form-control" id="FirstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="lName">Last name</label>
                    <input name="lName" type="text" class="form-control" id="LastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="address">Address Line 1</label>
                    <input name="address" type="text" class="form-control" id="AddressLine1" placeholder="Address">
                </div>
                <div class="form-group">
                    <label>Address Line 2</label>
                    <input type="text" class="form-control" id="AddressLine2">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input name="city" type="text" class="form-control" id="City" placeholder="City">
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <input name="state" type="text" class="form-control" id="State" placeholder="State">
                </div>
                <div class="form-group">
                    <label for="">ZIP</label>
                    <input type="text" class="form-control" id="Zip" placeholder="Zip">
                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="tel" class="form-control" id="Phone" placeholder="Phone">
                </div>
                <button type="button" class="gotoStep2 btn btn-default btn-lg">Next</button>
            </form>
            <div class="cartStep Step2 order-summary">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th scope="row"><%=cart.length%> Item(s)</th>
                            <th>$<%=cartTotal%></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% cart && _.forEach(cart,function(item) {%>
                            <tr>
                                <td scope="row"><%=item.item%></td>
                                <td>$<%=item.price%></td>
                            </tr>
                            <%})%>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="row">Tax</th>
                            <th>$<%=cartTax%></th>
                        </tr>
                        <!-- <tr>
                            <th scope="row">Shipping</th>
                            <th></th>
                        </tr> -->
                        <tr class="grand-total">
                            <th>Total</th>
                            <th>$<%=[cartTotal,cartTax].sum()%></th>
                        </tr>
                    </tfoot>
                </table>
                <button type="button" class="btn btn-success btn-lg confirm-purchase"><i class="fa fa-check-square"></i>&nbsp Confirm</button>
                
                <form data-status="inactive" style="display:none; margin-top: 16px;" id="checkout" method="post" action="/checkout">
                    <div id="dropin"></div>
                    <input type="submit" value="Pay $10">
                </form>
            </div>
            <h2 class="cartStep message">loading</h2>
            <iframe class="cartStep Step3" src="" frameborder="0" width="600" height="600" scrolling="no"></iframe>
        </div>
<%})()%>
</main>
<br>
<br>
<br>
<br>
<br>