
<!-- gallery.html -->
<div class="gallery">
    <div class="absolute-center">
        <h1>metro retro furniture</h1>
        <img src="./images/bauhaus.png" alt="">
        <a class="btn btn-lg btn-default products-link" href="#" role="button">Recent Arrivals</a>
    </div>
</div>
<!-- style.html -->
<div class="categories container-fluid">
    <h2 class="centered">Shop by Style</h2>
    <hr>
    <div class="row">
        <a class="col-xs-4" href="#">
            <p class="text">Art Deco</p>
        </a>
        <a class="col-xs-4" href="#">
            <p class="text">Mid Century</p>
        </a>
        <a class="col-xs-4" href="#">
            <p class="text">Contemporary</p>
        </a>
    </div>
    <p class="centered">
        <a class="btn btn-default" href="#">More styles...</a>
    </p>
</div>
<!-- by-category -->
<section class="container-fluid selection-by-cat">
    <div class="row">
        <div class="col-xs-12">
            <h2>Shop by Category</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2 our-style">
            <a href="#" data-category="dresser" class="cat-link">
                <i class='fa fa-fire fa-3x'></i>
                <h5>dresser</h5>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2 our-style">
            <a href="#" data-category="sofa" class="cat-link">
                <i class='fa fa-eye fa-3x'></i>
                <h5>sofas</h5>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2 our-style">
            <a href="#" data-category="diningTable" class="cat-link">
                <i class='fa fa-fighter-jet fa-3x'></i>
                <h5>dining tables</h5>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2 our-style">
            <a href="#" data-category="chair" class="cat-link">
                <i class='fa fa-female fa-3x'></i>
                <h5>chairs</h5>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2 our-style">
            <a href="#" data-category="bedFrame" class="cat-link">
                <i class='fa fa-flash fa-3x'></i>
                <h5>bed frames</h5>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2 our-style chair">
            <a href="#" data-category="coffeeTable" class="cat-link">
                <i class='fa fa-glass fa-3x'></i>
                <h5>coffee tables</h5>
            </a>
        </div>
    </div>
</section>
<!-- consignment.html -->
<div class="consignment container-fluid">
    <h2>Want to consign your furniture?</h2>
    <hr>
    <div>
        <a class="btn btn-lg btn-default consignment-form-btn" href="#" role="button">Consign with Metro Retro</a>
    </div>

</div>